@media only screen and (min-width: 38rem) {

    header, main, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 60px auto 30%;
        align-items: center;
    }

    header span {
        font-size: 1.5rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .list section {
        font-size: 1rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

      /* Discover Grid */

    .discoverGrid section {
        grid-template-areas:
        "image title"
        "image address"
        "desc desc"
        "button button";
    }

    .discoverGrid section figure img:hover {
        border-radius: 15px 150px;
    }
}

@media only screen and (min-width: 64rem) {
    /* Discover Grid */

    .discoverGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}