/* Colours */
:root {
    --primary-colour: #984708;
    --secondary-colour: #81c22f;
    --background-colour: #EEEEEE;
    --text-colour: #242424;
}

/* Universal */
* {
    font-family: 'Courier Prime', monospace;
    box-sizing: border-box;
    color: var(--text-colour);
}

h1 {
    margin: 1rem 10px;
    color: var(--primary-colour);
}

/* Header */
header {
    display: grid;
    grid-template-columns: 60px auto 50px;
    padding: 5px 0 5px 0px;
    border-bottom: solid 1px var(--secondary-colour);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-colour);
    font-weight: bold;
    line-height: 90%;
}

/* Hamburger */
.hamburger {
    background: none;
    border: none;
    color: var(--primary-colour);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/* Navigation */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    margin: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px var(--primary-colour);
}

.navigation a.current {
    border-bottom: var(--primary-colour) solid 3px;
}

.navigation a:hover {
    border-bottom: var(--primary-colour) solid 3px;
}

/* Menu */
.menu {
    margin: 1rem auto;
    text-align: center;
}

/* Directory Cards */
.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 10px;
}

.grid section {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    align-items: center;
    border: var(--primary-colour) solid 1px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px var(--text-colour);
}

.grid section a {
    color: var(--primary-colour);
}

.grid img {
    display: block;
    width: 200px;
    height: auto;
}

/* Directory List */
.list section {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    font-size: 0.5rem;
    padding: 0 5px;
}

.list section p {
    padding: 5px;
}

.list section a {
    color: var(--primary-colour);
}

.list section img {
    display: none;
}

/* Footer */
footer {
    background-color: var(--secondary-colour);
    padding: 0 10px;
}

footer div {
    padding: 1rem 0;
}

footer div p{
    margin: 5px;
    font-size: 0.8rem;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--text-colour) solid 1px;
    border-radius: 22px;
    background-color: var(--text-colour);
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--primary-colour);
}

/* Form */

.wf1 {
    margin: 0.5rem;
    padding: 1rem;
    border: 5px solid var(--primary-colour);
    border-radius: 20px;
    background-color: var(--background-colour);
}

.wf1 fieldset {
    border: none;
}

.wf1 label,
.wf1 input,
.wf1 textarea
{
    display: block;
    border: none;
}

.wf1 label {
    margin: 1rem 0;
}

.wf1 input {
    height: 1.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80%;
}

.wf1 textarea {
    height: 5rem;
    width: 80%;
}

.wf1 input[type="submit"] {
    background-color: var(--secondary-colour);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    height: 2.5rem;
    font-size: medium;
}

.wf1 input[type="submit"]:hover {
    background-color: var(--background-colour);
}

.wf1 input:required,
.wf1 textarea:required 
{
    border-left: solid 5px red;
}

.wf1 input:required:valid,
.wf1 textarea:required:valid
{
    border-left: solid 5px var(--secondary-colour);
}