:root {
    --primary-colour: #FFC251;
    --secondary-colour: #FFECCC;
    --accent-colour: #476f3f;
}

.events-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.events-header button,
.grid button 
{
    color: red;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 35px;
    margin-right: 0.5rem;
}

.events-header button::before,
.grid button::before
{
    content: '♡';
}

.events-header button.saved::before,
.grid button.saved::before
{
    content: '♥︎';
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    place-items: center;
    text-align: center;
    min-height: 400px;
    width: 100%;
    margin-bottom: 1rem;
}

.grid img {
    max-width: 250px;
    height: auto;
    margin: 1rem;
}

.grid a {
    text-decoration: none;
    color: black;
}

dialog {
    margin: auto;
    padding: 0.5rem;
    background-color: var(--secondary-colour);
    border: 5px solid var(--accent-colour);
    border-radius: 20px;
    text-align: center;
    max-width: 600px;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog p {
    margin: 0.5rem;
}

dialog button {
    margin: 0.5rem;
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    color: black;
    background-color: var(--primary-colour);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    border: 2px solid var(--accent-colour);
    width: 40%;
    justify-self: center;
}

dialog button:hover {
    background-color: var(--secondary-colour);
}