@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 30px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .large-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #about-me {
        grid-column: 1 / 3;
    }

    #student-img {
        grid-column: 3;
    }
}